<div class="MainView">
    <div class="MainView-navbar">
      <img class="app-icon" src="css/images/logo-24.png" />
      <h2>Address Book</h2>
      <a href="#" class="do-logoff navbar-right">Logoff</a>
    </div>

	<section class="MainView-content">
		<div class="MainView-leftPanel"></div>
		<div class="MainView-contentPanel"></div>
	</section>
</div>